<div
  class="flex justify-between items-center bg-[#1F2D3D] text-white p-4 mb-2 sm:mb-4 lg:mb-6">
  <div class="flex flex-1 items-center">
    <img
      src="/assets/img/coat-of-arms.svg"
      alt="Brasão da polícia civil"
      class="h-12 sm:h-16 md:h-20 mr-3"
      routerLink="/"
    />
    <span class="text-md sm:text-xl md:text-2xl lg:text-3xl font-semibold">Pessoas Desaparecidas</span>
  </div>
  <div
    class="hidden sm:flex flex-1 flex-col items-center justify-center gap-2 ">
    <h2
      class="p-1 sm:w-45 md:w-50 lg:w-65 text-center font-semibold bg-[#ffecaf]
      border border-b-[#c19b26] text-[#c19b26] rounded-xl"
    >
      LOCALIZADOS: {{ statisticsData.quantPessoasEncontradas }}
    </h2>
    <h2 class="p-1 sm:w-45 md:w-50 lg:w-65 text-center font-semibold bg-[#ffaaaa]
    border border-b-[#a32424] text-[#a32424] rounded-xl"
    >
      DESAPARECIDOS: {{ statisticsData.quantPessoasDesaparecidas }}
    </h2>
  </div>
  <div class="flex flex-1 flex-col items-end sm:gap-0.5 md:gap-1">
    <h3 class="text-xs sm:text-xl md:text-2xl lg:text-3xl">Karine Wagner</h3>
    <span
      class="text-[10px] sm:text-xs md:text-sm lg:text-lg">Seletivo SEPLAG-MT 2025</span>
    <a
      href="https://github.com/karinewagner/projeto-desaparecidos"
      target="_blank"
      class="text-[10px] sm:text-sm md:text-base lg:text-xl underline text-blue-400 flex gap-1 md:gap-2"
    >
      <img
        src="/assets/icons/github.png"
        alt="Icone do Github"
        class="w-3 sm:w-4 md:w-5 lg:w-7 h-3 sm:h-4 md:h-5 lg:h-7"
      />
      Repositório GitHub
    </a>
  </div>
</div>
