<div class="flex justify-between items-center bg-[#1F2D3D] text-white p-4 mb-4">
  <div class="flex flex-1 items-center">
    <img
      src="/assets/img/coat-of-arms.svg"
      alt="Brasão da polícia civil"
      class="h-18 mr-3"
    />
    <span class="text-2xl font-semibold">Pessoas Desaparecidas</span>
  </div>
  <div class="flex flex-1 flex-col items-center justify-center gap-2">
    <h2
      class="p-1 w-60 text-center font-semibold bg-[#ffecaf] border
      border-b-[#c19b26] text-[#c19b26] rounded-xl"
    >
      LOCALIZADOS: 3908
    </h2>
    <h2 class="p-1 w-60 text-center font-semibold bg-[#ffaaaa] border
    border-b-[#a32424] text-[#a32424] rounded-xl"
    >
      DESAPARECIDOS: 3908
    </h2>
  </div>
  <div class="flex flex-1 flex-col items-end">
    <h3 class="text-2xl">Karine Wagner</h3>
    <span class="text-sm">Seletivo SEPLAG-MT 2025</span>
    <a
      href="https://github.com/karinewagner/projeto-desaparecidos"
      target="_blank"
      class="underline text-blue-400 flex gap-2"
    >
      <img src="/assets/icons/github.png" class="w-5 h-5"/>Repositório GitHub
    </a>
  </div>
</div>
