<mat-card appearance="outlined" class="h-full flex flex-col">
  @if (missingPerson.urlFoto) {
    <img
      mat-card-image
      [src]="missingPerson.urlFoto"
      alt="Foto da pessoa desaparecida"
      class="object-cover h-60"
    >
  } @else {
    <img
      mat-card-image
      src="/assets/img/unidentified-person.jpg"
      alt="Foto da pessoa"
      class="object-cover h-60"
    >
  }
  <mat-card-content class="flex-1">
    <p class="font-semibold">
      Nome: <span class="font-normal">{{ missingPerson.nome }}</span>
    </p>
    <p class="font-semibold">
      Idade: <span class="font-normal">{{ missingPerson.idade }} anos</span>
    </p>
    <p class="font-semibold">
      Sexo: <span class="font-normal">{{ missingPerson.sexo }}</span>
    </p>
    <p class="font-semibold">
      Data:
      <span class="font-normal">
        {{ missingPerson.ultimaOcorrencia.dtDesaparecimento | date:'dd/MM/yyyy' }}
      </span>
    </p>
    <p class="font-semibold">
      Local:
      <span class="font-normal">
        {{ missingPerson.ultimaOcorrencia.localDesaparecimentoConcat }}
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions class="mt-auto">
    <button mat-button color="primary" class="w-full" [routerLink]="['details', missingPerson.id]">
      Mais detalhes
    </button>
  </mat-card-actions>
</mat-card>
