<form
  [formGroup]="form"
  class="p-2 sm:p-4 xl:p-8 rounded-md shadow-md flex flex-col bg-search-form"
>
  <div class="flex flex-col">
    <h2 class="text-md md:text-xl lg:text-2xl font-semibold text-center">
      FAÇA SUA BUSCA
    </h2>
    <span class="text-sm md:text-base lg:text-xl mb-2 text-center text-gray-500">
      Os dados abaixo ajudam a tornar sua busca mais específica!
    </span>
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nome</mat-label>
    <input
      matInput
      formControlName="nome"
      type="text"
      placeholder="Digite um nome"
    >
  </mat-form-field>

  <div class="flex flex-col lg:flex-row lg:gap-4">
    <div class="flex-1">
      <p class="font-semibold mb-2">Faixa Etária</p>
      <div class="flex gap-1 md:gap-2 lg:gap-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Mínima</mat-label>
          <input
            matInput
            formControlName="faixaIdadeInicial"
            type="number"
            min="0"
            max="99"
            placeholder="Idade mínima"
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Máxima</mat-label>
          <input
            matInput
            formControlName="faixaIdadeFinal"
            type="number"
            min="0"
            max="99"
            placeholder="Idade máxima"
          >
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-1 md:gap-2 flex-col sm:flex-row">
      <div class="flex-1">
        <p class="font-semibold lg:mb-4">Sexo</p>
        <mat-radio-group formControlName="sexo" class="flex md:gap-2">
          <mat-radio-button value="MASCULINO">Masculino</mat-radio-button>
          <mat-radio-button value="FEMININO">Feminino</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="flex-1">
        <p class="font-semibold lg:mb-4">Status</p>
        <mat-radio-group formControlName="status" class="flex md:gap-2">
          <mat-radio-button value="DESAPARECIDO">Desaparecido</mat-radio-button>
          <mat-radio-button value="LOCALIZADO">Localizado</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="flex gap-1 my-2 md:gap-2 lg:gap-4 justify-center">
    <button
      mat-raised-button
      color="warn"
      (click)="clearFilter()"
      class="sm:w-1/5 lg:w-1/6"
    >
      <mat-icon>close</mat-icon>
      Limpar
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="sendOutputFilters()"
      class="sm:w-1/5 lg:w-1/6"
    >
      <mat-icon>search</mat-icon>
      Buscar
    </button>
  </div>
</form>
